body { margin: 0%;line-height: 1.4;font-size: 16px;letter-spacing: 0.2px;font-family: sans-serif;}
a:hover {color: green}
a:focus {color: rgb(126, 0, 78);}
.header { background: grey; padding: 20px;height: auto;color: #ffffff;font-size: 14px;}
.header img {width: 100%;height: auto;}
.header-title { margin-top: 0;font-style: italic;text-transform: capitalize;}
.header-nav { margin: 20px 0; text-align: center;}
.header-nav a {padding: 0 10px; color: inherit; text-decoration: none;}
.header-nav a:hover {text-decoration: underline;}
.main {background: lightgray;padding: 20px; }
.main p {text-align: justify;text-indent: 100px;}
.footer {background: grey;padding: 20px}
